<div class="container" align="center">
    <div class="card" style="text-align:left; margin-top:10%; width:50%">
        <div class="card-body">
            <div class="text-center">
                <h1>Home</h1>
                <small class="text-danger">{{error}}</small>
            </div>      
            <form [formGroup] = "areaForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Area</label>
                    <select class="form-control" formControlName="area">
                        <option value="" disabled selected>Please select an area</option>
                        <option value="baseball">Baseball</option>
                        <option value="basketball">Basketball</option>
                        <option value="football">Football</option>
                        <option value="geography">Geography</option>
                        <option value="hockey">Hockey</option>
                        <option value="marvel">Marvel</option>
                        <option value="nodejs">Node Js</option>
                        <option value="olympics">Olympics</option>
                        <option value="science">Science</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>