<div class="container" align="center">
    <div class="card" style="text-align:left; margin-top:10%; width:50%">
        <div class="card-body">
            <div *ngIf="quiz.area == ''" class="text-center">
                LOADING ...
            </div>
            <div *ngIf="quiz.area != ''">

                <mat-progress-bar mode="determinate" [value]="timeLeftPerc"></mat-progress-bar>
                <div>
                <p>Time Left:{{timeLeft}} /{{timeTotal}} seconds</p>
                </div>

                <div class="text-center">
                    <h1>{{quiz.area}} Quiz</h1>
                    <small class="text-danger">{{error}}</small>
                </div>
                <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
                    <div formArrayName="answers">
                        <div *ngFor="let question of questions; let i = index">
                            <div class="my-3">
                                <h6>{{i+1}}. {{question.question}}</h6>
                                <div *ngFor="let choice of question.choices; let j = index" class="mx-4">
                                    <input class="form-check-input" type="radio" formControlName={{i}} value={{j}}>
                                    <label class="form-check-label">{{choice}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
