<div class="container" align="center">
    <div class="card" style="text-align:left; margin-top:10%; width:50%" [@loginState]="state">
        <div class="card-body">
            <div class="text-center">
                <h1>Login</h1>
                <small class="text-danger">{{error}}</small>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                <div class="form-group">
                    <label>User</label>
                    <input [class.is-invalid]="userName.invalid && userName.touched"
                    formControlName="userName" type="text" class="form-control" placeholder="Username">
                    <div *ngIf="userName.invalid && userName.touched">
                        <small class="text-danger">Username is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input [class.is-invalid]="password.invalid && password.touched" formControlName="password" type="password" class="form-control"placeholder="Password">
                    <div *ngIf="password.invalid && password.touched">
                        <small class="text-danger">Password is required</small>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>